@font-face {
    font-family: AliceFont;
    src: url('../font/Alice.TTF')
}

@font-face {
    font-family: AliceHeaderFont;
    src: url('../font/AliceHeader.ttf')
}

body {
    font-family: 'AliceFont', 'Arial Rounded MT Bold', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', STHeitiSC-Light, 'Microsoft YaHei', Arial, sans-serif;
    background-color: #fff4f2;
    font-size: 14px;
    line-height: 2;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    #header-wrapper {
        height: 260px !important;
    }
    #header {
        height: 300px !important;
    }
    .BanBan {
        font-size: 45px !important;
    }
    #content{
        width: 100% !important;
    }
    .post:first-child{
        margin-top: 0px !important;
    }
    .post{
        margin-top: 40px !important;
    }
}
/*header*/

#header {
    height: 750px;
}

#header-wrapper {
    position: relative;
    height: 650px;
    width: 100%;
    background-size: cover;
    background-position: center 50%;
    background-repeat: no-repeat;
}

#header nav {
    opacity: 0.7;
}

.BanBan {
    font-family: 'AliceHeaderFont';
    display: block;
    height: 100px;
    font-size: 100px;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #c4b59d, 0px -2px 1px #fff;
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    position: relative;
    top: 45%;
    border-radius: 20px;
}

.header-master {
    text-align: center;
    width: 70%;
    margin: auto;
    top: -170px;
    padding: 40px 0;
    padding-bottom: 40px;
    font-size: 16px;
    opacity: .98;
    /* background: rgba(230,244,249,.8); */
    background-color: hsla(0, 0%, 100%, .5);
    position: relative;
    border-radius: 13px;
}

.header-master .header-master-avatar {
    height: 100px;
    width: 100px;
}



/* main*/

#content {
    min-height: 600px;
    width: 65%;
}

.post:first-child {
    margin-top: 0px !important;
}

.post {
    display: block;
    position: relative;
    background: #fff;
    margin-top: 70px;
}

.post::before {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    width: 60px;
    height: 64px;
    background: url(https://raw.githubusercontent.com/AliceBabyNana/MyPicture/master/Blog/darling-xx.png);
    background-size: contain;
}

.post-date {
    background: #a0ede9;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    position: absolute;
    top: -20px;
    left: -30px;
    height: 60px;
    width: 70px;
    padding-top: 10px;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    line-height: 1.1;
}

.post-date .post-day {
    font-size: 30px;
    font-weight: 700;
}

.post-badge {
    position: absolute;
    left: -16px;
    top: 100px;
    border-color: #47456d;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
    background-color: #a0ede9;
    margin: 5px 0 15px 2px;
    font-size: 14px;
    border-radius: 0 4px 4px 0;
    display: inline-block;
    padding: 7px 11px 7px 32px;
    line-height: 1;
}

.post-badge a {
    color: #fff;
}

.post-header {
    margin-bottom: 20px;
}

.post-title {
    text-align: center;
    word-break: break-word;
    font-size: 25px;
    font-weight: 700;
    padding-top: 30px;
}

.post-title a {
    color: #ef8585;
    font-size: 25px;
    font-weight: 700;
    display: inline-block;
    position: relative;
    border-bottom: none;
    line-height: 1.2;
    vertical-align: top;
}

.post-meta {
    color: #555;
    margin-top: 5px;
    text-align: center;
    font-size: 12px;
}

.post-time {
    color: #00a7e0;
}

.post-meta-item-icon {
    margin-right: 3px;
}

.post-meta-divider {
    margin: 0.5em;
}

.post-readcount {
    color: #ff3f1a;
}

.post-button {
    margin-top: 20px;
    padding-bottom: 10px;
}

.text-center {
    text-align: center;
}

.post-body {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 45px;
    font-size: 16px;
    letter-spacing: 2.50px;
}

/*side bar */

.sidebar {
    float: right;
    width: 30%;
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    text-align: center;
}

.sidebar .sidebar-item:first-child {
    margin-top: 0px;
}

.sidebar .sidebar-item {
    width: 100%;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 20px;
    color: #ee7878;
    font-weight: 700;
    font-size:20px;
}
.sidebar .sidebar-item h2{
    color: #ee7878;
    font-weight: 700;
    font-size:20px;
}
.sidebar .mydesc .sweet {
    background-color: #fff;
    width: 90%;
    height: 200px;
    min-height: 150px;
    margin: 0 auto;
    background: url(https://raw.githubusercontent.com/AliceBabyNana/MyPicture/master/Blog/sweet.jpg) no-repeat top;
    background-size: cover;
    border-radius: 6px;
}

.sidebar .mydesc h2 {
    margin-top: -5px;
    font-size: 25px;
    color: #ee7878;
    line-height: 2.5;
    font-weight: 700;
}

.sidebar .mydesc .my-item {
    margin-top: -15px;
    padding-top: 5px;
}

.sidebar .mydesc .my-item>a {
    display: inline-block;
    font-size: 20px;
    width: 35px;
    height: 35px;
    background-color: rgba(32, 188, 182, .8);
    color: #fff;
    border-radius: 20px;
    text-align: center;
    border: none;
    outline: none;
    margin-left: 5px;
    margin-bottom: 10px;
}
.sidebar .sidebar-item .likeme span{
    font-size: 35px;
    font-weight: 400;
    padding-left: 7px;
    position: relative;
    top:-4px;
}

.sidebar .sidebar-item .likeme h2{
    font-size: 30px;
    font-weight: 700;
    padding-top: 25px;
}
.sidebar .closebar{
    min-height: 50px;
}
.sidebar .closebar h2{
    padding-top: 15px;
}
/* page bar*/
#page-bar{
    text-align: center;
}
/*footer*/
#footer{
    text-align: center;
    color: #ee7878;
}